/* =========================
   RESET / BASE
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* =========================
   VARIABLES
========================= */
:root {
  /* colors */

  /* typography */

  /* spacing */

  /* layout */

  /* borders */
}

/* =========================
   GLOBAL ELEMENTS
========================= */

/* =========================
   TYPOGRAPHY
========================= */

/* =========================
   LAYOUT
========================= */

/* =========================
   UTILITIES
========================= */

/* =========================
   COMPONENTS
========================= */

/* =========================
   ANIMATIONS
========================= */

/* =========================
   MEDIA QUERIES
========================= */
